body.path-user {
  #user-register-form {
    text-align: center;
    #edit-field-new-used-wrapper {
      select {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 12px 12px;
        line-height: 40px;
        background-color: #fff;
        color: #555;
      }
    }
    #edit-account {
      .js-form-item-mail {
        input {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding-left: 15px;
          line-height: 40px;
          background-color: #fff;
          color: #555;
        }
      }
      .js-form-item-name {
        input {
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding-left: 15px;
          line-height: 40px;
          background-color: #fff;
          color: #555;
        }
      }
      .js-form-type-password-confirm {
        text-align: left;
        .js-form-item-pass-pass1 {
          margin: 10px 0;
          input {
            width: 55%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding-left: 15px;
            line-height: 25px;
            background-color: #fff;
            color: #555;
          }
          .password-strength__meter {
            font-size: 12px;
            color: #333;
          }
          .password-strength__title {
            font-size: 12px;
            color: #333;
          }
        }
        .js-form-item-pass-pass2 {
          margin: 10px 0;
          input {
            width: 55%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding-left: 15px;
            line-height: 25px;
            background-color: #fff;
            color: #555;
          }
          .js-password-confirm {
            font-size: 12px;
            color: #333;
          }
        }
        .description {
          font-size: 14px;
          color: #333;
        }
      }
    }
    #edit-user-picture-wrapper {
      .image-widget {
        border: 3px dashed #ddd;
        padding: 25px 30px;
        .image-preview {
          vertical-align: middle;
          display: inline-block;
          width: 30%;
        }
        .image-widget-data {
          vertical-align: middle;
          display: inline-block;
          width: 69%;
          input {
            font-size: 14px;
            color: #fff;
            font-weight: bold;
            padding: 7px 10px;
            overflow: hidden;
            background: #555;
          }
        }
      }
      #edit-user-picture-0-upload--description {
        display: none;
      }
    }
    #edit-field-occupation-wrapper {
      input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-left: 15px;
        line-height: 40px;
        background-color: #fff;
        color: #555;
      }
    }
    #edit-field-user-phone-wrapper {
      input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding-left: 15px;
        line-height: 40px;
        background-color: #fff;
        color: #555;
      }
    }
    #edit-actions {
      margin-bottom: 30px;
      input {
        text-align: center;
        width: 100%;
        background: #5dc302;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        &:hover {
          background: #48da26;
        }
      }
    }
    .usernew {
      text-align: center;
      color: #666;
      font-size: 18px;
      &:before {
        content: "\f007";
        font-family: FontAwesome;
        padding-right: 8px;
      }
    }
    .register-here {
      text-align: center;
      color: #5dc302;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        color: #23527c;
        text-decoration: underline;
      }
    }
    .user_hr {
      text-align: center;
      margin: 15px 0;
      border-top: 1px solid #eee;
      border-bottom: 0;
    }
    .user_msg {
      text-align: center;
      font-size: 20px;
      color: #555;
      font-weight: 700;
      margin-bottom: 15px;
      font-family: "Raleway";
      font-style: normal;
    }
    .user_fb {
      text-align: center;
      display: inline-block;
      text-decoration: none;
      width: 36px;
      height: 36px;
      color: #fff;
      font-size: 18px;
      margin: 0 5px;
      line-height: 36px;
      background: #3b5998;
      &:before {
        content: "\f09a";
        font-family: FontAwesome;

      }
    }
    .user_goo {
      text-align: center;
      display: inline-block;
      text-decoration: none;
      width: 36px;
      height: 36px;
      color: #fff;
      font-size: 18px;
      margin: 0 5px;
      line-height: 36px;
      background: #dd4b39;
      &:before {
        content: "\f0d5";
        font-family: FontAwesome;


      }
    }
    .user_tw {
      text-align: center;
      display: inline-block;
      text-decoration: none;
      width: 36px;
      height: 36px;
      color: #fff;
      font-size: 18px;
      margin: 0 5px;
      line-height: 36px;
      background: #00aced;
      &:before {
        content: "\f099";
        font-family: FontAwesome;

      }
    }
  }
}